# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# files removed from local machine
/part0
/part1
/part2
/part3
*.json
part1/unicafe/package-lock.json
part1/unicafe/src/index.css
